@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Alegreya&family=Alice&family=Arima+Madurai:wght@300&family=Bodoni+Moda:opsz,wght@6..96,800&family=Cormorant&family=Cormorant+Infant:wght@300&family=Dorsa&family=EB+Garamond&family=El+Messiri&family=Italiana&family=Libre+Bodoni&family=Megrim&family=Playfair+Display&family=Poiret+One&family=Six+Caps&family=Titillium+Web:wght@300&family=Varela&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-selection {
  color: #fff;
  background: #cf9cc3;
}

::-moz-selection {
  color: #fff;
  background: #cf9cc3;
}

::selection {
  color: #fff;
  background: #cf9cc3;
}

/* NAVBAR STARTS */

.hero {
  height: 100vh;
  width: 100%;
  background-color: rgb(209, 181, 195);
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 53%;
  font-size: 28px;
  font-family: 'Alice', serif;
} 

/* full screen nav */

.navbar {
  font-family: 'Alice', serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 50%;
  font-size: 28px;
} 

.navbar ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}

.navbar ul li a:hover {
  color: #aa6882;
  transition: .4s;
}

.btn  {
  background-color: #c488a1;
  color: white;
  text-decoration: none;
  border: 4px solid #835467;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 10px;
}

/*  end full screen nav */


/* toggler nav */

:root{
  --primary-color: #835467;
  --overlay-color: rgba(76, 52, 64, 0.85);
  --menu-speed: 0.75s;
}

.menu-wrap{
  position:fixed;
  top: 2%;
  left: 92%;
  z-index: 1000;
  display: none;
}

.menu-wrap .toggler{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
  
}

.menu-wrap .hamburger{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
}

/* Hamburger line */
.menu-wrap .hamburger >div {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  border-radius: 10%;
}
/* Top and bottom lines */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after{
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 3px;
  background: inherit;
  border-radius: 10%;
}
/* Moves line down */
.menu-wrap .hamburger > div:after{
  top: 10px;
}
/* Toggler animate */
.menu-wrap .toggler:checked + .hamburger > div{
  transform: rotate(135deg);
}
/* Turn Lines into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after{
  top: 0;
  transform: rotate(90deg);
}
/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div{
  transform: rotate(225deg);
}
/* Show menu */
.menu-wrap .toggler:checked ~ .menu{
  visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div{
  transform: scale(1);
  transition-duration: var(--menu-speed);
}
.menu-wrap .toggler:checked ~ .menu > div > div{
  opacity: 1;
  transition: opacity 0.4s ease;
}
.menu-wrap .menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden; 
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-wrap .menu > div{
  background-color: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0); 
  transition: all 0.4s ease;
}
.menu-wrap .menu > div >div{
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0; 
  transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: transparent;
  font-size: 2rem;
  padding: 1rem;
  background-size: 200% 100%;
  background-position: 0;
  transition: all .7s cubic-bezier(0,0,.23,1);
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg,#f8f5f7,#a67081 50%,#6e4757 0);
}

.menu-wrap .menu > div > div > ul > li:hover {
  color: #c76392;
  background-position: 100%;
}

.menu-wrap .menu >div > div > ul > li > a{
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

.link a {
  margin-top: 5%;
  font-size: 2.0em;
  text-decoration: none;
  justify-items: center;
  align-items: center;
  color:#cc9cba;
}

.link a:hover {
  color: #c76392;
}

/* end toggler nav */


/* NAVBAR ENDS */


/* HOMEPAGE STARTS */

h1 {
  font-family: 'Playfair Display', serif;
  position: absolute;
  top: 45%;
  left: 34%;
  transform: translate(-50%, -100%);
  margin: 0;
  padding: 0;
  font-size: 7rem;
  color: transparent;
  text-transform: uppercase;
}

h1 span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  overflow: hidden;
  color: #aa6882;
}

h1:hover span:nth-child(1) {
  transform: translateY(-12px);
  color: #e8dbe0;
}

h1 span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100% );
  overflow: hidden;
  color: #633849;
}
h1:hover span:nth-child(2) {
  transform: translateY(12px);
  color: #9a657a;
}

h1 span:nth-child(3) {
  position: absolute;
  top: 50%; left: 0; transform: translateY(-50%) scaleY(0);
  width: 103%;
  color:#000;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.6rem;
  box-sizing: border-box;
  padding-left: 5px;
  text-align: center;
  transition: 0.5s;
  color: #49273c;
}

h1:hover span:nth-child(3) {
  transform: translateY(-50%) scaleY(1);
  color: #643247;
}

.short {
  font-family: 'Alice', serif;
  margin: 253px 590px 0px 90px;
  font-size: 22px;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
} 

.short a {
  text-decoration: none;
  color: rgb(162, 95, 129);
  line-height: 28px;
  letter-spacing: 1px;
  color: #835272;
}

/* HOMEPAGE ENDS */

/* ABOUT ME STARTS */

.about {
  width: 100%;
  padding: 80px 0px;
  background-color: #191919;
}

.about img {
  height: auto;
  width: 430px;
}

.about-text {
  width: 550px;
}

.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-text h2 {
  color: white;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-family: 'Bodoni Moda', serif;
}

.paragraphs {
  font-family: 'Alice', serif;
  color: white;
  letter-spacing: 2px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

.containers{
  position:absolute;
  top:193%;
  left:55.7%;
  transform:translate(-50%,-50%);
  width:209px;
  height:55px;
  background-color: rgb(177, 93, 135);
  display:flex;
  overflow:hidden;
  border-radius:7px;
  border: 4px solid #6e3a4a;
  font-family: 'Alice', serif;
}
.box{
  position:absolute;
  top:-10%;
  width:100px;
  height:70px;
  text-align:center;
  line-height:70px;
  overflow:hidden;
  transition:.6s cubic-bezier(.75,-1,0,1.15);
  background-color:rgb(177, 93, 135);
  z-index:1;
}
.twos{
  right:0;
}
.box span{
  position:relative;
  font-size:26px;
  color: white;
}
#text-ones{
left:50px;
top: -10%;
}
#text-twos{
  left:-50px;
  top: -10%;
}
.links{
  position:absolute;
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  transform:scale(0);
  transition:.5s ease .4s;
}
.links a{
  display:block;
  text-decoration:none;
  padding:20px;
  font-size:1.6rem;
  color: white;
  transition:.2s;
}
.containers:hover .ones{
  transform:translateX(-100px);
}
.containers:hover .twos{
  transform:translateX(100px);
}
.containers:hover .links{
  transform:scale(1);
}
.links a:nth-child(1):hover{
  color:#ea4c89;
}
.links a:nth-child(2):hover{
  color:#294886;
}
.links a:nth-child(3):hover{
  color:#322d3e;
}

/* ABOUT ME ENDS */

/* PROJECTS STARTS */

.service {
  background: #101010;
  width: 100%;
  padding: 25px 0px;
}

.title h2 {
  color: white;
  font-size: 75px;
  width: 1130px;
  margin: 10px auto;
  text-align: center;
  font-family: 'Bodoni Moda', serif;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  height: 290px; 
  width: 332px;
  padding: 20px 35px;
  background: #191919;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
  border: 4px double #a57584;
}

.snip1573 {
  background-color: #000;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  margin: 20px auto;
  overflow: hidden;
  position: relative;
  align-items: center;
}

.snip1573 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.snip1573:before,
.snip1573:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #b56d6d;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  content: '';
  opacity: 0.9;
  z-index: 1;
}

.snip1573:before {
  -webkit-transform: skew(45deg) translateX(-155%);
  transform: skew(45deg) translateX(-155%);
}

.snip1573:after {
  -webkit-transform: skew(45deg) translateX(155%);
  transform: skew(45deg) translateX(155%);
}

.snip1573 img {
  backface-visibility: hidden;
  width: 101%;
  height: 90%;
  vertical-align: top;
}

.snip1573 figcaption {
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  -webkit-box-shadow: 0 0 10px #000000;
  box-shadow: 0 0 10px #000000;
  font-family: 'Alice', serif;
}

.snip1573 h4 {
  background-color: #b56d6d;
  border: 2px solid #fff;
  color: #fff;
  font-size: 0.7em;
  font-weight: 600;
  letter-spacing: 1px;
  margin: -25px;
  padding: 5px 5px 5px 5px;
  text-transform: uppercase;
}

.snip1573 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.snip1573:hover > img,
.snip1573.hover > img {
  opacity: 0.5;
}

.snip1573:hover:before,
.snip1573.hover:before {
  -webkit-transform: skew(45deg) translateX(-55%);
  transform: skew(45deg) translateX(-55%);
}

.snip1573:hover:after,
.snip1573.hover:after {
  -webkit-transform: skew(45deg) translateX(55%);
  transform: skew(45deg) translateX(55%);
}

.snip1573:hover figcaption,
.snip1573.hover figcaption {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.card .button {
  background-color: #b56d6d;
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  padding: 9px 14px;
  border-radius: 30px;
  transition: .4s;
  margin-right: 1%;
  font-family: 'Alice', serif;
}

.card .button {
  border: 2px solid #6e3a4a;
  cursor: pointer;
  border-radius: 12px;
}

.card .button:hover {
  border: 2px solid #835467;
  cursor: pointer;
  background-color: #c488a1;
}

/* PROJECTS ENDS */

/* FOOTER STARTS */

footer .footer-below {
  text-align: center;
  padding: 31px 0;
  color: white;
  font-size: 28px;
  background-color: #896d7e;
  font-family: 'Playfair Display', serif;
}

.outer_wrapper {
  position: absolute;
  width: 100%;
  height: 10vh;
}

.wrapper {
  position: absolute;
  height: calc(22vh - 190px);
  width: 100%;
  top: 0;
}

.cat {
  position: absolute;
  bottom: -85px;
  left: 100px;
  height: 30px;
  width: 60px;
  transition: 1.5s;
  transform-origin: center;
  background-color: transparent;
}

/* body */

.body {
  position: absolute;
  height: 30px;
  width: 60px;
}

.face_left .body { 
  animation: turn_body_left forwards 0.5s;
}

@keyframes turn_body_left {
  0%,100% { transform: scale(1); }
  50% { transform: scale(0.5, 1); }
}

.face_right .body {
  animation: turn_body_right forwards 0.5s;
}

@keyframes turn_body_right {
  0%,100% { transform: scale(1); }
  50% { transform: scale(0.5, 1); }
}

/* head */
.cat_head {
  position: absolute;
  height: 40px;
  width: 48px;
  right: -10px;
  top: -30px;
  transition: 0.5s;
  z-index: 30;
}

.first_pose .cat_head,
.face_left .cat_head{ 
  right: 22px;
}


/* tail */
.tail {
  position: absolute;
  top: -25px;
  height: 36px;
  width: 15px;
  animation: tail_motion forwards 2s;
  transform-origin: bottom right;
}

@keyframes tail_motion {
  0%,100% { 
    left: -5px;
    transform: rotate(0deg) scale(1); 
  }
  50% { 
    left: -10px;
    transform: rotate(-50deg) scale(-1,1); 
  }
}

.first_pose .tail ,
.face_left .tail {
  left: 45px;
  animation: tail_motion_alt forwards 2s;
}

@keyframes tail_motion_alt {
  0%,100% { 
    left: 45px;
    transform: rotate(0deg) scale(1); 
  }
  50% { 
    left: 40px;
    transform: rotate(50deg) scale(-1,1); 
  }
}

/* legs */
.leg {
  position: absolute;
  height: 20px;
  width: 10px;
  transform-origin: top center;
}

.front_legs,
.back_legs {
  position: absolute;
  height: 30px;
  transition: 0.7s;
}

.front_legs {
  width: 30px;
  right: 0;
}

.back_legs {
  width: 25px;
  left: 0; 
}

.face_left .leg svg {
  transform: scale(-1,1);
}

.face_right .front_legs{ right: 0; }

.first_pose .front_legs,
.face_left .front_legs{ right: 30px; }

.face_right .back_legs{ left: 0; }

.first_pose .back_legs,
.face_left .back_legs{ left: 35px; }

.one,
.three  {
  bottom: -15px;
  right: 0;
}

.two, 
.four {
  bottom: -15px;
  left: 0px;
}

.one.walk, 
.three.walk {
  animation: infinite 0.3s walk;
}

.two.walk, 
.four.walk {
  animation: infinite 0.3s walk_alt;
}

@keyframes walk {
  0%,100% {transform: rotate(-10deg);}
  50% {transform: rotate(10deg);}
}

@keyframes walk_alt {
  0%,100% {transform: rotate(10deg);}
  50% {transform: rotate(-10deg);}
}
/* jump */
.cat_wrapper {
  position: absolute;
  bottom: 0;
}

.cat_wrapper.jump .one { 
  animation: infinite 0.3s walk;
}

.cat_wrapper.jump .two { 
  animation: infinite 0.3s walk_alt;
}

.cat_wrapper.jump .three,
.cat_wrapper.jump .four {
  animation: none;
}

.cat_wrapper.jump .cat.face_right .back_legs {
  transform-origin: center;
  transform: rotate(50deg);
}

.cat_wrapper.jump .cat.face_left .back_legs {
  transform-origin: center;
  transform: rotate(-50deg);
}

.cat_wrapper.jump .cat.face_right .front_legs {
  transform-origin: center;
  transform: rotate(-60deg);
}

.cat_wrapper.jump .cat.face_left .front_legs {
  transform-origin: center;
  transform: rotate(60deg);
}

.cat_wrapper.jump{
  animation: jump forwards 1s;
}

@keyframes jump {
  0%, 100%  {bottom: 0px;}
  50% {bottom: 200px;}
}

.jump .face_left{ 
  animation: forwards 0.5s body_stand_left;
  transform-origin: right bottom;
}

.jump .face_right{ 
  animation: forwards 0.5s body_stand_right;
  transform-origin: left bottom;
}

@keyframes body_stand_right {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(-45deg);}
}

@keyframes body_stand_left {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(45deg);}
}

svg {
  height: 100%;
  width: 100%;
}

polygon.eyes {
  fill: rgb(140, 124, 136);
}

polygon,
path {
  fill: rgb(222, 213, 213);
}

.myButton {
  position: fixed;
  bottom:3%;
  left: 2%;
  display:none;
  color:rgb(205, 147, 180);
  background-color:rgb(18, 13, 13);
  border: 3px solid rgb(108, 60, 84);
  box-shadow: 0px 0px 22px 0px;
  border-radius: 10px;
  height:50px;
  width: 50px;
  cursor: pointer;
  font-size: 24px;
  z-index: 30;
 }

 .chatOn {
  padding: 3px;
  z-index: 99;
  cursor: pointer;
  box-shadow: 0px 0px 22px 0px;
  color:rgb(128, 94, 113);
  position: fixed;
  bottom: 3%;
  right: 2%;
  transition: .5s;
  width: 50px;
  border-radius: 10px;
  background-color: rgb(108, 60, 84);
}

/* The popup form - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 2%;
  right: 15px;
  border: 3px solid rgb(108, 60, 84);
  z-index: 999;
  transition: 1s;
}

/* Add styles to the form container */
.popup-form {
  width: 300px;
  padding: 10px;
  background-color: rgb(21, 15, 15);
  color: white;
  font-family: 'Playfair Display', serif;
}

/* Full-width input fields */
.popup-form input[type=text],
.popup-form input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

textarea {
  width: 100%;
  height: 120px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.popup-form input[type=text]:focus,
.popup-form input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.popup-form .button {
  background-color: rgb(37, 26, 32);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 49%;
  margin-bottom: 10px;
  opacity: 0.8;
  font-size: 15px;
  border-radius: 10px;
  border: 4px solid rgb(108, 60, 84);
  font-family: 'Playfair Display', serif;
}

.popup-form .chatOff {
  background-color: rgb(37, 26, 32);
}

/* FOOTER ENDS */


/* @MEDIA STARTS */

/* COMPUTER @MEDIA */

 @media only screen and (min-width: 2558px){

    h1 {
      top: 45%;
      left: 35%;
      font-size: 13.5rem;
    }
    
    h1:hover span:nth-child(1) {
      transform: translateY(-22px);
    }
    
  
    h1:hover span:nth-child(2) {
      transform: translateY(22px);
    }
    
    h1 span:nth-child(3) {
      width: 103%;
      font-size: 3rem;
      letter-spacing: 0.6rem;
    }
    
    .short {
      margin: 550px 980px 600px 95px;
      font-size: 52px;
    } 
    
    .short a {
      line-height: 28px;
      letter-spacing: 1px;
    }
    
    .about {
      width: 100%;
      padding: 110px 0px;
    }
  
    .about-text h2 {
      font-size: 145px;
      margin-bottom: 20px;
      margin-left: 30%;
      margin-right: -40%;
    }
    
    .about img {
      height: auto;
      width: 730px;
      margin-left: -50%;
    }
    
    .about-text {
      width: 980px;
    }
    .paragraphs {
      line-height: 58px;
      font-size: 48px;
      margin-bottom: 45px;
      margin-left: 30%;
      margin-right: -40%;
    }
    
    .containers{
      top:196%;
      left:53.4%;
      width:409px;
      height:95px;
      border: 7px solid #6e3a4a;
    }
    .box{
      width:300px;
    }
    .box span{
      font-size:58px;
    }
    #text-ones{
    left:50px;
    top: 20%;
    }
    #text-twos{
      left:-50px;
      top: 20%;
    }
    .links a{
      padding:30px;
      font-size:4rem;
    }
    .containers:hover .ones{
      transform:translateX(-300px);
    }
    .containers:hover .twos{
      transform:translateX(300px);
    }
  
    .service {
      padding: 130px 0px;
    }
    
    .title h2 {
      font-size: 145px;
    }
   
    .card {
      height: 470px; 
      width: 600px;
      border: 7px double #a57584;
    }
    
    .snip1573 {
      font-size: 33px;
    }
  
    .snip1573 h4 {
      font-size: 0.7em;
      margin: -75px;
    }
    
    .card .button {
      font-size: 33px;
      border: 2px solid transparent;
      padding: 9px 22px;
      border-radius: 30px;
      margin-right: 2%;
    }
    
    .card .button {
      border: 5px solid #6e3a4a;
      border-radius: 12px;
    }
    
    .card .button:hover {
      border: 5px solid #835467;
    }
    
    footer .footer-below {
      padding: 45px 0;
      font-size: 62px;
    }
    
    .outer_wrapper {
      width: 100%;
      height: 12vh;
    }
    
    .wrapper {
      height: calc(15vh - 190px);
      width: 100%;
      top: 0;
    }
    
    .cat {
      bottom: -125px;
    }
    
    .myButton {
      left: 1%;
      bottom: 2%;
      height:120px;
      width: 120px;
      font-size: 60px;
      }
    
      .chatOn {
      right: 1%;
      bottom: 2%;
      width: 120px;
    }
    
    .chat-popup {
      border: 7px solid rgb(108, 60, 84);
    }
    
    .popup-form {
      width: 700px;
      padding: 30px;
      font-size: 35px;
    }
    
    .popup-form input[type=text],
    .popup-form input[type=password] {
      font-size: 35px;
    }
    
    textarea {
      height: 220px;
      font-size: 35px;
    }
    
    .popup-form .button {
      font-size: 35px;
      border: 7px solid rgb(108, 60, 84);
    }
}

@media only screen and (width: 2553px){


  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 53%;
    font-size: 58px;
  } 

  h1 {
    top: 50%;
    left: 31%;
    font-size: 12rem;
  }
  
  h1:hover span:nth-child(1) {
    transform: translateY(-22px);
  }
  

  h1:hover span:nth-child(2) {
    transform: translateY(22px);
  }
  
  h1 span:nth-child(3) {
    width: 103%;
    font-size: 3rem;
    letter-spacing: 0.6rem;
  }
  
  .short {
    margin: 350px 980px 600px 75px;
    font-size: 52px;
  } 
  
  .short a {
    line-height: 28px;
    letter-spacing: 1px;
  }
  
  .about {
    width: 100%;
    padding: 110px 0px;
  }

  .about-text h2 {
    font-size: 145px;
    margin-bottom: 20px;
    margin-left: 30%;
    margin-right: -40%;
  }
  
  .about img {
    height: auto;
    width: 730px;
    margin-left: -50%;
  }
  
  .about-text {
    width: 980px;
  }
  .paragraphs {
    line-height: 58px;
    font-size: 48px;
    margin-bottom: 45px;
    margin-left: 30%;
    margin-right: -40%;
  }
  
  .containers{
    top:262%;
    left:53.5%;
    width:409px;
    height:95px;
    border: 7px solid #6e3a4a;
  }
  .box{
    width:300px;
  }
  .box span{
    font-size:58px;
  }
  #text-ones{
  left:50px;
  top: 20%;
  }
  #text-twos{
    left:-50px;
    top: 20%;
  }
  .links a{
    padding:30px;
    font-size:4rem;
  }
  .containers:hover .ones{
    transform:translateX(-300px);
  }
  .containers:hover .twos{
    transform:translateX(300px);
  }

  .service {
    padding: 130px 0px;
  }
  
  .title h2 {
    font-size: 145px;
  }
  
  .card {
    height: 470px; 
    width: 600px;
    border: 7px double #a57584;
  }
  
  .snip1573 {
    font-size: 33px;
  }

  .snip1573 h4 {
    font-size: 0.7em;
    margin: -75px;
  }
  
  .card .button {
    font-size: 33px;
    border: 2px solid transparent;
    padding: 9px 22px;
    border-radius: 30px;
    margin-right: 2%;
  }
  
  .card .button {
    border: 5px solid #6e3a4a;
    border-radius: 12px;
  }
  
  .card .button:hover {
    border: 5px solid #835467;
  }
  
  footer .footer-below {
    padding: 45px 0;
    font-size: 62px;
  }
  
  .outer_wrapper {
    width: 100%;
    height: 20vh;
  }
  
  .wrapper {
    height: calc(15vh - 190px);
    width: 100%;
    top: 0;
  }
  
  .cat {
    bottom: -125px;
  }
  
  .myButton {
    left: 1%;
    bottom: 3%;
    height:120px;
    width: 120px;
    font-size: 60px;
    }
  
    .chatOn {
    right: 1%;
    bottom: 3%;
    width: 120px;
  }
  
  .chat-popup {
    border: 7px solid rgb(108, 60, 84);
  }
  
  .popup-form {
    width: 700px;
    padding: 30px;
    font-size: 35px;
  }
  
  .popup-form input[type=text],
  .popup-form input[type=password] {
    font-size: 35px;
  }
  
  textarea {
    height: 220px;
    font-size: 35px;
  }
  
  .popup-form .button {
    font-size: 35px;
    border: 7px solid rgb(108, 60, 84);
  }
}

@media only screen and (min-width: 1602px) and (max-width: 2552px) {
  
  .hero {
    height: 50vh;
  }

  h1 {
    top: 22%;
    left: 40%;
    margin-right: -353px;
    font-size: 9rem;
  }

  h1:hover span:nth-child(1) {
    transform: translateY(-22px);
  }
  
  h1:hover span:nth-child(2) {
    transform: translateY(22px);
  }
  
  h1 span:nth-child(3) {
    width: 102%;
    font-size: 1.6rem;
    letter-spacing: 0.6rem;
  }

  .short {
    margin: 482px 400px 600px 99px;
    font-size: 49px;
  } 

  .about-text h2 {
    font-size: 90px;
  }
  
  .paragraphs {
    font-size: 27px;
  }
  
  .containers{
    top: 83.5%;
    left:55%;
    width:209px;
  }

  .box span{
    font-size:35px;
  }

  #text-ones{
    left:41px;
    }
  #text-twos{
     left:-60px;
    }
  .links a{
     padding:20px;
     font-size:2rem;
    }
   
  .title h2 {
    font-size: 85px;
  }

  .snip1573 {
    font-size: 40px;
  }

  .snip1573 h4 {
    font-size: 0.4em;
    margin: -75px;
  }

  .card {
    height: 390px; 
    width: 450px;
    border: 7px double #a57584;
  }
 
  .card .button {
    font-size: 23px;
    margin-right: 2%;
  }
  
  .card .button {
    border: 2px solid #6e3a4a;
    cursor: pointer;
    border-radius: 12px;
  }
  
  .card .button:hover {
    border: 2px solid #835467;
    cursor: pointer;
    background-color: #c488a1;
  }
  
  .outer_wrapper {
    height: 6vh;
  }

  .wrapper {
    height: calc(15vh - 190px);
    width: 100%;
    top: 0;
  }

  footer .footer-below {
    padding: 45px 0;
    font-size: 55px;
  }

  .myButton {
    bottom:1.5%;
    height:90px;
    width: 90px;
    font-size: 48px;
   }
  
   .chatOn {
    bottom: 1.5%;
    width: 90px;
  }

  .popup-form {
    width: 550px;
    font-size: 35px;
  }
  
  .popup-form input[type=text],
  .popup-form input[type=password] {
    font-size: 25px;
  }
  
  textarea {
    font-size: 25px;
  }

  .popup-form .button {
    font-size: 25px;
    border: 7px solid rgb(108, 60, 84);
  }
}

@media only screen and (width: 1920px) and (height: 1080px) {

  .navbar {
    padding-left: 60%;
    font-size: 35px;
  }

  h1 {
    top: 25%;
    left: 33%;
    margin-right: -353px;
  }

  .short {
    margin: 168px 695px 600px 99px;
    font-size: 39px;
  } 

  .containers{
    top: 132%;
    left: 54.2%;
    width:209px;
  }


  .myButton {
    bottom: 4%;
    height: 90px;
    width: 90px;
    font-size: 48px;
   }
  
   .chatOn {
    bottom: 4%;
    width: 90px;
  }
}

@media only screen and (min-width: 1501px) and (max-width: 1601px) {
  
  .hero {
    height: 50vh;
  }

  h1 {
    top: 22%;
    left: 40%;
    margin-right: -353px;
    font-size: 9rem;
  }

  h1:hover span:nth-child(1) {
    transform: translateY(-22px);
  }
  
  h1:hover span:nth-child(2) {
    transform: translateY(22px);
  }
  
  h1 span:nth-child(3) {
    width: 102%;
    font-size: 1.6rem;
    letter-spacing: 0.6rem;
  }

  .short {
    margin: 482px 400px 600px 99px;
    font-size: 49px;
  } 

  .about-text h2 {
    font-size: 90px;
  }
  
  .paragraphs {
    font-size: 27px;
  }
  
  .containers{
    top: 83.5%;
    left:55%;
    width:209px;
  }

  .box span{
    font-size:35px;
  }

  #text-ones{
    left:41px;
    }
  #text-twos{
     left:-60px;
    }
  .links a{
     padding:20px;
     font-size:2rem;
    }
   
  .title h2 {
    font-size: 85px;
  }

  .snip1573 {
    font-size: 40px;
  }

  .snip1573 h4 {
    font-size: 0.4em;
    margin: -75px;
  }

  .card {
    height: 390px; 
    width: 450px;
    border: 7px double #a57584;
  }
 
  .card .button {
    font-size: 23px;
    margin-right: 2%;
  }
  
  .card .button {
    border: 2px solid #6e3a4a;
    cursor: pointer;
    border-radius: 12px;
  }
  
  .card .button:hover {
    border: 2px solid #835467;
    cursor: pointer;
    background-color: #c488a1;
  }
  
  .outer_wrapper {
    height: 6vh;
  }

  .wrapper {
    height: calc(15vh - 190px);
    width: 100%;
    top: 0;
  }

  footer .footer-below {
    padding: 45px 0;
    font-size: 55px;
  }

  .myButton {
    bottom:1.5%;
    height:90px;
    width: 90px;
    font-size: 48px;
   }
  
   .chatOn {
    bottom: 1.5%;
    width: 90px;
  }

  .popup-form {
    width: 550px;
    font-size: 35px;
  }
  
  .popup-form input[type=text],
  .popup-form input[type=password] {
    font-size: 25px;
  }
  
  textarea {
    font-size: 25px;
  }

  .popup-form .button {
    font-size: 25px;
    border: 7px solid rgb(108, 60, 84);
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1500px) {
  
  .hero {
    height: 70vh;
  }

  h1 {
    top: 30%;
    left: 42%;
    margin-right: -353px;
    font-size: 9rem;
  }

  h1:hover span:nth-child(1) {
    transform: translateY(-22px);
  }
  
  h1:hover span:nth-child(2) {
    transform: translateY(22px);
  }
  
  h1 span:nth-child(3) {
    width: 102%;
    font-size: 1.6rem;
    letter-spacing: 0.6rem;
  }

  .short {
    margin: 270px 400px 600px 88px;
    font-size: 39px;
  } 

  .about-text h2 {
    font-size: 90px;
  }
  
  .paragraphs {
    font-size: 27px;
  }
  
  .containers{
    top: 144%;
    left:55.7%;
    width:209px;
  }

  .box span{
    font-size:35px;
  }

  #text-ones{
    left:41px;
    }
  #text-twos{
     left:-60px;
    }
  .links a{
     padding:20px;
     font-size:2rem;
    }
   
  .title h2 {
    font-size: 85px;
  }

  .snip1573 {
    font-size: 40px;
  }

  .snip1573 h4 {
    font-size: 0.4em;
    margin: -75px;
  }

  .card {
    height: 390px; 
    width: 450px;
    border: 7px double #a57584;
  }
 
  .card .button {
    font-size: 23px;
    margin-right: 2%;
  }
  
  .card .button {
    border: 2px solid #6e3a4a;
    cursor: pointer;
    border-radius: 12px;
  }
  
  .card .button:hover {
    border: 2px solid #835467;
    cursor: pointer;
    background-color: #c488a1;
  }
  
  .outer_wrapper {
    height: 8vh;
  }

  footer .footer-below {
    padding: 45px 0;
    font-size: 55px;
  }

  .myButton {
    bottom:3%;
    height:90px;
    width: 90px;
    font-size: 48px;
   }
  
   .chatOn {
    bottom: 3%;
    width: 90px;
  }

  .popup-form {
    width: 550px;
    font-size: 35px;
  }
  
  .popup-form input[type=text],
  .popup-form input[type=password] {
    font-size: 25px;
  }
  
  textarea {
    font-size: 25px;
  }

  .popup-form .button {
    font-size: 25px;
    border: 7px solid rgb(108, 60, 84);
  }
}

@media only screen and (height: 1396px) and (width: 1904px){
  .hero {
    height: 100vh;
  }

  h1 {
    position: absolute;
    top: 45%;
    left: 37%;
    transform: translate(-50%, -100%);
    margin-right: -140px;
    padding: 0;
    font-size: 11rem;
    color: transparent;
    text-transform: uppercase;
  }
  
  h1:hover span:nth-child(1) {
    transform: translateY(-22px);
  }

  h1:hover span:nth-child(2) {
    transform: translateY(22px);
  }
  
  h1 span:nth-child(3) {
    width: 102%;
    font-size: 2.5rem;
  }
  
  .short {
    margin: 520px 580px 600px 55px;
    font-size: 43px;
    color: white;
  } 

  .short a {
    line-height: 28px;
    letter-spacing: 1px;
  }
  
  .about {
    width: 100%;
    padding: 110px 0px;
  }

  .about-text h2 {
    font-size: 145px;
    margin-bottom: 20px;
    margin-left: 24%;
    margin-right: -40%;
  }
  
  .about img {
    height: auto;
    width: 730px;
    margin-left: -20%;
  }
  
  .about-text {
    width: 980px;
  }
  .paragraphs {
    line-height: 58px;
    font-size: 48px;
    margin-bottom: 45px;
    margin-left: 25%;
    margin-right: -30%;
  }
  
  .containers{
    top:222%;
    left:59.8%;
    width:409px;
    height:95px;
    border: 7px solid #6e3a4a;
  }
  .box{
    width:300px;
  }
  .box span{
    font-size:58px;
  }
  #text-ones{
  left:50px;
  top: 20%;
  }
  #text-twos{
    left:-50px;
    top: 20%;
  }
  .links a{
    padding:30px;
    font-size:4rem;
  }
  .containers:hover .ones{
    transform:translateX(-300px);
  }
  .containers:hover .twos{
    transform:translateX(300px);
  }

  .service {
    padding: 130px 0px;
  }
  
  .title h2 {
    font-size: 145px;
  }
  
  .boxy {
    margin-left: 11.5%;
  }
  
  .card {
    height: 470px; 
    width: 600px;
    border: 7px double #a57584;
  }
  
  .snip1573 {
    font-size: 33px;
  }

  .snip1573 h4 {
    font-size: 0.7em;
    margin: -75px;
  }
  
  .card .button {
    font-size: 33px;
    border: 2px solid transparent;
    padding: 9px 22px;
    border-radius: 30px;
    margin-right: 2%;
  }
  
  .card .button {
    border: 5px solid #6e3a4a;
    border-radius: 12px;
  }
  
  .card .button:hover {
    border: 5px solid #835467;
  }
  
  footer .footer-below {
    padding: 45px 0;
    font-size: 62px;
  }
  
  .wrapper {
    height: calc(15vh - 190px);
    width: 100%;
    top: 0;
  }
  
  .cat {
    bottom: -125px;
  }
  
  .myButton {
    left: 1%;
    bottom: 2%;
    height:120px;
    width: 120px;
    font-size: 60px;
  }
  
    .chatOn {
    right: 1%;
    bottom: 2%;
    width: 120px;
  }
  
  .chat-popup {
    border: 7px solid rgb(108, 60, 84);
  }
  
  .popup-form {
    width: 700px;
    padding: 30px;
    font-size: 35px;
  }
  
  .popup-form input[type=text],
  .popup-form input[type=password] {
    font-size: 35px;
  }
  
  textarea {
    height: 220px;
    font-size: 35px;
  }
  
  .popup-form .button {
    font-size: 35px;
    border: 7px solid rgb(108, 60, 84);
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1376px) {
  
  .navbar {
    padding-left: 47%;
  } 

  .short {
    margin: 253px 542px 0px 67px;
    font-size: 22px;
  }
}

/* DELL */

@media only screen and (min-width: 1200px) and (max-width: 1298px) {
  

  .navbar {
    padding-left: 43%;
  } 
    
  h1 {
    top: 45%;
    left: 38%;
    margin-right: -363px;
    font-size: 7rem;
  }

  h1:hover span:nth-child(1) {
    transform: translateY(-22px);
  }
  
  h1:hover span:nth-child(2) {
    transform: translateY(22px);
  }
  
  h1 span:nth-child(3) {
    width: 102%;
    font-size: 1.2rem;
    letter-spacing: 0.6rem;
  }

  .short {
    margin: 265px 542px 0px 92px;
    /* margin: 188px 400px 0px 67px; */
    font-size: 22px;
  } 
  
  .containers{
    top: 193%;
    /* top: 220%; */
    left:56.3%;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1199px){

  .navbar {
    padding-left: 32%;
  } 

  h1 {
    top: 45%;
    left: 45%;
    right: -30%;
    font-size: 7rem;
  }

  
  h1:hover span:nth-child(1) {
    transform: translateY(-22px);
  }
  

  h1:hover span:nth-child(2) {
    transform: translateY(22px);
  }
  
  h1 span:nth-child(3) {
    width: 91%;
    font-size: 1.2rem;
    letter-spacing: 0.6rem;
  }
  
  .short {
    margin: 268px 325px 0px 38px;
    font-size: 22px;
  } 
  
  .containers{
    top: 193%;
    left:55%;
  }
}

/* MOBILE @MEDIA */


@media only screen and (max-width: 999px) {
  .hero {
    height: 60vh;
  }

  .navbar {
    display: none;
  }

  .menu-wrap{
    display: flex;
  }
  
  h1 {
    top: 30%;
    left: 45%;
    right: -30%;
    font-size: 5rem;
  }

  h1:hover span:nth-child(1) {
    transform: translateY(-12px);
  }
  
  h1:hover span:nth-child(2) {
    transform: translateY(12px);
  }
  
  h1 span:nth-child(3) {
    width: 74%;
    font-size: 1.0rem;
    letter-spacing: 0.4rem;
  }
 
  .short {
    margin: 220px 380px 500px 29px;
    font-size: 18px;
  }

  .short a {
    line-height: 18px;
    letter-spacing: 0.3px;
  }

  .about img {
    display: none;
  }
  
  .about-text h2 {
    font-size: 47px;
  }
  
  .paragraphs {
    letter-spacing: 0.2px;
    font-size: 17px;
  }
  
  .containers{
    display: none;
  }

  .title h2 {
    font-size: 47px;
    width: 330px;
  }

  .boxy {
    margin-left: 6%;
  }
  
  footer .footer-below {
    text-align: center;
    padding: 31px 0;
    color: white;
    font-size: 25px;
    background-color: #896d7e;
  }
  
  .outer_wrapper {
    position: absolute;
    width: 100%;
    height: 12vh;
    overflow: hidden;
  }
  
  .wrapper {
    position: absolute;
    height: calc(42vh - 190px);
    width: 100%;
    top: 0;
  }
  
  .cat {
    display:none;
  }
  
  .myButton {
    bottom:3%;
    height:45px;
    width: 45px;
   }
  
   .chatOn {
    bottom: 3%;
    width: 45px;
    background-color:rgb(108, 60, 84);
  }
}

 @media only screen and (max-width: 891px) {
    
  .hero {
    height: 60vh;
  }

  .navbar {
    display: none;
  }

  .menu-wrap{
    display: flex; 
    top: 2%;
    left: 90%;
  }

  h1 {
    top: 30%;
    left: 45%;
    right: -30%;
    font-size: 5rem;
  }
  
  h1:hover span:nth-child(1) {
    transform: translateY(-12px);
  }
  
  h1:hover span:nth-child(2) {
    transform: translateY(12px);
  }
  
  h1 span:nth-child(3) {
    width: 81%;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
  }
 
  .short {
    margin: 235px 300px 500px 31px;
    font-size: 18px;
  }

  .short a {
    line-height: 18px;
    letter-spacing: 0.3px;
  }
  
  .about img {
    display: none;
  }
  
  .about-text h2 {
    font-size: 47px;
  }
  
  .paragraphs {
    letter-spacing: 0.2px;
    font-size: 17px;
  }
  
  .containers{
    display: none;
  }

  .title h2 {
    font-size: 3rem;
    width: 330px;
  }

  .boxy {
    margin-left: 6%;
  }
  
  footer .footer-below {
    text-align: center;
    padding: 31px 0;
    color: white;
    font-size: 25px;
    background-color: #896d7e;
  }
  
  .outer_wrapper {
    position: absolute;
    width: 100%;
    height: 12vh;
    overflow: hidden;
  }
  
  .wrapper {
    position: absolute;
    height: calc(42vh - 190px);
    width: 100%;
    top: 0;
  }
  
  .cat {
    display:none;
  }
  
  .myButton {
    bottom:3%;
    height:45px;
    width: 45px;
   }
  
   .chatOn {
    bottom: 3%;
    width: 45px;
    background-color:rgb(108, 60, 84);
  }
} 

@media only screen and (max-width: 798px) {
    
  .hero {
    height: 60vh;
  }

  .navbar {
    display: none;
  }

  .menu-wrap{
    display: flex; 
    top: 2%;
    left: 88%;
  }
  
  h1 {
    top: 30%;
    left: 45%;
    right: -33%;
    font-size: 5rem;
  }
  
  h1:hover span:nth-child(1) {
    transform: translateY(-12px);
  }
  
  h1:hover span:nth-child(2) {
    transform: translateY(12px);
  }
  
  h1 span:nth-child(3) {
    width: 90%;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
  }
 
  .short {
    margin: 235px 150px 500px 18px;
    font-size: 18px;
  }

  .short a {
    line-height: 18px;
    letter-spacing: 0.3px;
  }
  
  .about img {
    display: none;
  }
  
  .about-text h2 {
    font-size: 47px;
  }
  
  .paragraphs {
    letter-spacing: 0.2px;
    font-size: 17px;
  }
  
  .containers{
    display: none;
  }

  .title h2 {
    font-size: 3rem;
    width: 330px;
  }

  .parent {
    margin-left: -4.5%;
  }
  
  footer .footer-below {
    text-align: center;
    padding: 31px 0;
    color: white;
    font-size: 25px;
    background-color: #896d7e;
  }
  
  .outer_wrapper {
    position: absolute;
    width: 100%;
    height: 12vh;
  }
  
  .wrapper {
    position: absolute;
    height: calc(42vh - 190px);
    width: 100%;
    top: 0;
  }
  
  .cat {
    display:none;
  }
  
  .myButton {
    bottom:3%;
    height:45px;
    width: 45px;
   }
  
   .chatOn {
    bottom: 3%;
    width: 45px;
    background-color:rgb(108, 60, 84);
  }
}

@media only screen and (max-width: 696px) {
    
  .hero {
    height: 60vh;
  }

  .navbar {
    display: none;
  }

  .menu-wrap{
    display: flex; 
    top: 2%;
    left: 88%;
  }
  
  h1 {
    top: 30%;
    left: 52%;
    right: -48%;
    font-size: 4.7rem;
  }
  
  h1:hover span:nth-child(1) {
    transform: translateY(-12px);
  }
  
  h1:hover span:nth-child(2) {
    transform: translateY(12px);
  }
  
  h1 span:nth-child(3) {
    width: 96%;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
  }
 
  .short {
    margin: 235px 79px 500px 31px;
    font-size: 18px;
  }

  .short a {
    line-height: 18px;
    letter-spacing: 0.3px;
  }
  
  .about img {
    display: none;
  }
  
  .about-text h2 {
    font-size: 47px;
  }
  
  .paragraphs {
    letter-spacing: 0.2px;
    font-size: 17px;
  }
  
  .containers{
    display: none;
  }

  .title h2 {
    font-size: 3rem;
    width: 330px;
  }

  .parent {
    margin-left: -4.5%;
  }
  
  footer .footer-below {
    text-align: center;
    padding: 31px 0;
    color: white;
    font-size: 25px;
    background-color: #896d7e;
  }
  
  .outer_wrapper {
    position: absolute;
    width: 100%;
    height: 12vh;
  }
  
  .wrapper {
    position: absolute;
    height: calc(42vh - 190px);
    width: 100%;
    top: 0;
  }
  
  .cat {
    display:none;
  }
  
  .myButton {
    bottom:3%;
    height:45px;
    width: 45px;
   }
  
   .chatOn {
    bottom: 3%;
    width: 45px;
    background-color:rgb(108, 60, 84);
  }
}

@media only screen and (max-width: 599px) {
    
  .hero {
    height: 60vh;
  }

  .navbar {
    display: none;
  }

  .menu-wrap{
    display: flex; 
    top: 2%;
    left: 88%;
  }
  
  h1 {
    top: 30%;
    left: 50%;
    right: -32%;
    font-size: 4rem;
  }
  
  h1:hover span:nth-child(1) {
    transform: translateY(-12px);
  }
  
  h1:hover span:nth-child(2) {
    transform: translateY(12px);
  }
  
  h1 span:nth-child(3) {
    width: 101%;
    font-size: 1.0rem;
    letter-spacing: 0.2rem;
  }
 
  .short {
    margin: 232px 67px 500px 54px;
    font-size: 18px;
  }

  .short a {
    line-height: 18px;
    letter-spacing: 0.3px;
  }
  
  .about img {
    display: none;
  }
  
  .about-text {
    width: 350px;
  }
  
  .about-text h2 {
    font-size: 47px;
  }
  
  .paragraphs {
    letter-spacing: 0.2px;
    font-size: 16px;
  }
  
  .containers{
    display: none;
  }

  .title h2 {
    font-size: 3rem;
    width: 330px;
  }

  .parent {
    margin-left: -4.5%;
  }
  
  footer .footer-below {
    text-align: center;
    padding: 31px 0;
    color: white;
    font-size: 25px;
    background-color: #896d7e;
  }
  
  .outer_wrapper {
    position: absolute;
    width: 100%;
    height: 12vh;
  }
  
  .wrapper {
    position: absolute;
    height: calc(42vh - 190px);
    width: 100%;
    top: 0;
  }
  
  .cat {
    display:none;
  }
  
  .myButton {
    bottom:3%;
    height:45px;
    width: 45px;
   }
  
   .chatOn {
    bottom: 3%;
    width: 45px;
    background-color:rgb(108, 60, 84);
  }
}
 
@media only screen and (max-width: 499px) {
    
  .hero {
    height: 60vh;
  }

  .navbar {
    display: none;
  }

  .menu-wrap{
    display: flex; 
    top: 2%;
    left: 82%;
  }

  .menu-wrap .hamburger{
    width: 50px;
    height: 50px;
    padding: 1rem;
  }

  .menu-wrap .menu > div{
    border-radius: 40%;
  }
 
  h1 {
    top: 20%;
    left: 50%;
    margin-right: -18px;
    font-size: 3rem;
  }
  
  
  h1:hover span:nth-child(1) {
    transform: translateY(-12px);
  }
  
  h1:hover span:nth-child(2) {
    transform: translateY(12px);
  }
  
  h1 span:nth-child(3) {
    width: 101%;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
  }
 
  .short {
    margin: 150px 20px 600px 35px;
    font-size: 18px;
  } 

  .short a {
    line-height: 18px;
    letter-spacing: 0.3px;
  }
  
  .about img {
    display: none;
  }
  
  .about-text {
    width: 350px;
  }
  
  .about-text h2 {
    font-size: 47px;
  }
  
  .paragraphs {
    letter-spacing: 0.2px;
    font-size: 16px;
  }

  .title h2 {
    font-size: 3rem;
    width: 330px;
  }
  
  footer .footer-below {
    text-align: center;
    padding: 31px 0;
    color: white;
    font-size: 18px;
    background-color: #896d7e;
  }
  
  .outer_wrapper {
    position: absolute;
    width: 100%;
    height: 12vh;
    overflow: hidden;
  }
  
  .wrapper {
    position: absolute;
    height: calc(42vh - 190px);
    width: 100%;
    top: 0;
  }
  
  .cat {
    display:none;
  }
  
  .myButton {
    bottom:3%;
    height:45px;
    width: 45px;
   }
  
   .chatOn {
    bottom: 3%;
    width: 45px;
    background-color:rgb(108, 60, 84);
  }
 }  

 @media only screen and (max-width: 375px) {
    
  .hero {
    height: 60vh;
  }

  .navbar {
    display: none;
  }

  .menu-wrap{
    display: flex; 
    top: 2%;
    left: 82%;
  }

  .menu-wrap .hamburger{
    width: 50px;
    height: 50px;
    padding: 1rem;
  }

  .menu-wrap .menu > div{
    border-radius: 40%;
  }
 
  h1 {
    top: 20%;
    left: 50%;
    margin-right: -50px;
    font-size: 3rem;
  }
  
  
  h1:hover span:nth-child(1) {
    transform: translateY(-12px);
  }
  
  h1:hover span:nth-child(2) {
    transform: translateY(12px);
  }
  
  h1 span:nth-child(3) {
    width: 101%;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
  }
 
  .short {
    margin: 120px 20px 600px 15px;
    font-size: 18px;
  } 

  .short a {
    line-height: 18px;
    letter-spacing: 0.3px;
  }
  
  .about img {
    display: none;
  }
  
  .about-text {
    width: 350px;
  }
  
  .about-text h2 {
    font-size: 47px;
  }
  
  .paragraphs {
    letter-spacing: 0.2px;
    font-size: 16px;
  }

  .title h2 {
    font-size: 3rem;
    width: 330px;
  }
  
  footer .footer-below {
    text-align: center;
    padding: 31px 0;
    color: white;
    font-size: 18px;
    background-color: #896d7e;
  }

  .outer_wrapper {
    position: absolute;
    width: 100%;
    height: 12vh;
    overflow: hidden;
  }
  
  .wrapper {
    position: absolute;
    height: calc(42vh - 190px);
    width: 100%;
    top: 0;
  }
  
  .cat {
    display:none;
  }
  
  .myButton {
    bottom:3%;
    height:45px;
    width: 45px;
   }
  
   .chatOn {
    bottom: 3%;
    width: 45px;
    background-color:rgb(108, 60, 84);
  }
 }  

 /* @MEDIA ENDS */
